<section class="container" ng-Controller="CalendarController">
  <div class="monthly-tool">
    <img class="arrow-icon" src="images/arrow-back.png"  ng-click="updateMonth('previous')" />
    <span class="current-month">{{ focusedMonth.format("YYYY.MM") }}</span>
    <img class="arrow-icon" src="images/arrow-forward.png"  ng-click="updateMonth('next')" />
  </div>
  <div class="dayname-wrapper">
    <div class="day-name" ng-repeat="dayName in dayNames">
      {{ dayName }}
    </div>
  </div >
  <div class="week-wrapper" ng-repeat="week in weeks">
    <div 
      class="day-wrapper" 
      ng-repeat="day in week.days track by $index"
    >
      <div class="date">{{ day.number }}</div>
      <div class="content {{ checkIsToday(day.date) }}">
        <div
          class="posting-item"
          ng-repeat="posting in day.postings"
          ng-click="openPostingModal(posting)"
        >
          <span class="badge {{ posting.badge }}">
            {{ badgeEngToKor[posting.badge] }}
          </span>
          <span class="company-name">{{ posting.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
